@import "tailwindcss";

/* Global renk değişkenleri */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* Tailwind theme mapping */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Dark mode olsa bile yazı siyah kalacak */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

/* Global body ayarı */

body {
  @apply bg-white text-black;
}
/* Mobil düzenlemeler */
@media (max-width:768px) {
  .btn-items button {
    margin-top: 55px !important;
    right: 5px !important;
  }

  .signature-shema {
    margin-top: 100px;
    width: 100%;
    overflow: scroll;
  }
}